# Pandas III

_June 25, 2020_

Agenda today:
- Groupby in Pandas
- Combining dataframes
- Stacking & Unstacking

# Part I. Groupby In Pandas

Sometimes we might want to calculate summary statistics for groups in dataframe. So before we explore grouping and aggregating, let's review some basic statistical methods in pandas.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [4]:
# check for missing value 
df.isnull().sum().sort_values(ascending = False)

continent                       23
total_litres_of_pure_alcohol     0
wine_servings                    0
spirit_servings                  0
beer_servings                    0
country                          0
dtype: int64

In [ ]:
# calculate mean beer_servings
df.

In [ ]:
# calculate summary statistics for all measurements

In [ ]:
# calculate the correlation between these variables

In [ ]:
# visualize the correlation

In [ ]:
# how could we view summary statistics for categorical variable?

# get how many entries are in each continent

#### Groupby
Groupby methods in Pandas allow you to aggregate data and perform operations on them. The method can be summarized as split-apply-combine. The groupby function allow us to split the dataframe into _groups_, apply operations on them, and aggregate a final result. Let's look at some examples.

In [ ]:
# review summary statistics for each continent (use describe)

In [ ]:
# aggregate basic functions

In [ ]:
# only want sum stats for total litres grouped by continent

In [ ]:
# with aggregate functions and group by, we can answer questions such as "which continent drinks the most wine on average?"

#### Dataset #2 occupations

In [ ]:
# read in df from this url https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

# and set the index as user_id

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

occupations = pd.read_csv(url, sep = '|', index_col = 'user_id')

In [ ]:
#occupations.set_index('column')

In [ ]:
# calculate the mean age per occupation, and sort the values

In [ ]:
# groupby multiple conditions

# for each combination of sex and occupation, show the mean age, assigned it to group by age

In [ ]:
# exercise - for each occupation, calculate the percentage of female and sort it from high to low

## Part II. Stacking & Unstack
Stack and unstack in Pandas provide a way for us to easily manipulate the format of our dataframes. As we see above, the row index can have hierarchy - where one level of index is nested under another. This structure can happen for columns as well. If we want to manipulate the structure of rows and columns, we need to learn stack() and unstack().

**Stack()**

<img src = 'stack.png' width = 450>

**Unstack()**

<img src = 'unstack.png' width = 450>

What you you think is happening here?

In [ ]:
# turn group by age from long to wide 
group_by_age.unstack('gender')

In [ ]:
# play around with stacking and unstacking for the above datasets

## Part III. Merging and Combining data frames 
<img src = 'merge.png' width = 400;>

Merging in Pandas mirror JOIN statement in SQL. Syntax:

df_left.merge(df_right, how, on)

#### Optional exercises & level up - the Adult dataset

In [ ]:
# read in the adults dataset 
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adults = pd.read_csv(url, header = None)

In [ ]:
adults.head()

In [ ]:
columns = ['age','work_class','fnlwgt','education','education_num','marital_status','occupation','relationship','race'
           ,'sex','capital_gain','capital_loss','hours_per_week','native_country','income']
adults.columns = columns

In [ ]:
# strip the white space of the strings in the df

In [ ]:
# create a column called income binary, 1 if income >50k 0 otherwise

In [ ]:
# explore the racial distribution of income (you should use stack or unstack here)
# this show allows us to calculate the proportion of people who earned more than 50k by race

In [ ]:
# explore the gender distribution of income (you should use stack or unstack here)
# this show allows us to calculate the proportion of people who earned more than 50k by gender